extends layout

block content
    .container.jumbotron.bg-dark.text-white
        h3 Moje rezervacije
        br
        each a in array.reverse()
            .container.bg-white.text-dark.rounded.m-3
                        label RESTORAN: 
                        i.text-danger  #{a.restaurant} 
                        br
                        label TERMIN: 
                        i  #{a.date}, od #{a.startTime}h do #{a.endTime}h. 
                        br
                        label STOL: 
                        i.text-success  #{a.table}
       
        script.
            document.querySelector("#myReservationPage").classList.add("active");